/*
1. company profile
2. event 
3. accordion menu
*/


/* ------ 1. COMPANY PROFILE: ------------*/

a {
  text-decoration: none;
}


/*dit is de h1 met naam van het initiatief*/

#naam{position: absolute;
    width:100%;
    padding-top:60%;
    top:0;
    margin:0;
    color:white;
    text-align: center;
}


/*dit is het icoontje wat terug naar de map leidt*/

.location_link {
  text-decoration: none;
  float: left;
  display: inline;
  width: 10%;
  padding: 1.2em 0em;
}


/*dit is het blokje met adres en contact*/

.company_info {
  float: left;
  display: block;
  font-size: 0.8em;
  line-height: 0.9;
/*  margin: 0em 0.8em;*/
  width: 50%;
}


/*dit is de sectie met hartje en aantal subscribers*/

.connect_users {
  line-height: 0.6;
  display: inline-block;
/*  margin: 0em 2em;*/
  padding: 1.2em 0em;
  width: 30%;
}


/*dit is de accordion titel voor de verschillende sub-onderwerpjes*/

.accordion {}


/*dit komt in de accordion, het opgevouwen gedeelte zeg maar*/

.panel {}


/*hartje*/

.subscribe_button {
  text-decoration: none;
}

.subscribe_button:hover {
  color: red;
}

.subscribe_button:link {
  color: red;
}

.subscribe_button:visited {
  color: red;
}


/*dit zijn de items (evenementen, jobs, producten) die in het accordion komen*/

.example_item {}


/*met daarin: ---*/

.example_item_date {
  font-variant: small-caps;
  padding: 3em 3em;
  display: inline-block;
  background-size: cover;
  background-image: url(../img/Placeholder.jpg);
}

.example_item_title {
  font-weight: bold;
  padding: 35px;
  display: inline;
}

.example_item_description {
  display: inline;
}


/* ------ 2. EVENT: ------------*/


/*dit is de h1 met de naam van het evenement*/

.event_header {}


/*Ook hier een .company info en daar zit een aparte p in met de naam van het initiatief*/

.company_name_event {font-weight: bold; line-height: 0.9;}


/*de datum en tijd zitten in*/

.event_date {
  float: none;
  clear: left;
}


/*beschrijvend tekstje over het event*/

.event_description {
  font-size: 0.8em;
  padding: 1.2em 0em;
}


/*---------------- 3. alles voor accordionmenu, via w3schools ----------*/


.content_accordion{margin-bottom: 10%;}

/* Style the buttons that are used to open and close the accordion panel */

button.accordion {
  font: "Open Sans", sans-serif;
  background-color: white;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

button.accordion.active,
button.accordion:hover {
  background-color: skyblue;
}


/* Style the accordion panel. Note: hidden by default */

div.panel {
  padding: 0 18px;
  background-color: white;
  /*  display: none;*/
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}