/*
1. company profile
2. event 
3. accordion menu
*/

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

 .row {
    clear: both;
    margin-top: 25px;
  }


/* ------ 1. COMPANY PROFILE: ------------*/

a {
  text-decoration: none;
}

.row p {font-size: 0.8em; line-height: 0.5;}


/*dit is de h1 met naam van het initiatief en foto --- NOG AANPASSEN!!! */

#naam {
  position: absolute;
  width: 80;
  padding-top: 60%;
  top: 0;
  margin: 0;
  color: white;
  text-align: center;
}


/*dit is het icoontje wat terug naar de map/calendar leidt*/

 .icon_link {
    float: left;
    width: 20%;
    height: 3em;
   padding: 1.5em 0;
   text-align: center;
  }


/*dit is het blokje tekst in het midden*/

 .info_company {
    width: 60%;
    float: left;
    display: inline;
  }


/*dit is de sectie met hartje en aantal subscribers*/


/*LET OP--------------- met js nog hartje met rand????*/

.connect_users, .attend_link {
/*  line-height: 0.6;*/
  display: inline-block;
  /*  margin: 0em 2em;*/
  /*  padding: 1.2em 0em;*/
   width: 20%;
    display: inline;
  margin-right: 0;
  text-align: center;
  padding: 1.5em 0;
  
}



 .attend_link {
    display: inline;
    width: 20%;
  }

/*dit is de accordion titel voor de verschillende sub-onderwerpjes*/

.accordion {}


/*dit komt in de accordion, het opgevouwen gedeelte zeg maar*/

.panel {}


/*hartje*/

.subscribe_button {
  color: bisque;
  text-decoration: none;
}

.subscribe_button:hover {
  color: red;
}


/*
.subscribe_button:link {
  color: red;
}
*/

.subscribe_button:visited {
  color: red;
}


/*dit zijn de ITEMS (evenementen, jobs, producten) die in het accordion komen*/

.example_item {}


/*met daarin: ---*/

.example_item_date {
  display: block;
  background-size: cover;
  width: 30%;
  height: 4.5em;
  float: left;
  background-image: url(../img/Placeholder.jpg);
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.example_item_title_on_image {
  font-variant: small-caps;
  padding-right: 8px;
  padding-bottom: 0;
  background-color: dodgerblue;
  display: block;
  position: relative;
  bottom: 0;
}

.example_item_title {
  font-weight: bold;
  display: inline;
  width: 60%;
}

.example_item_description {
  font-size: 0.7em;
  width: 100%;
}


/* ------ 2. EVENT: ------------*/


/*dit is de h1 met de naam van het evenement*/

.event_header {}


/*Ook hier een .company info en daar zit een aparte p in met de naam van het initiatief*/

.company_name_event {
  font-weight: bold;
/*  line-height: 0.9;*/
}

.attend {
  width: 30%;
  display: inline-block;
}


/*de datum en tijd zitten in*/

.event_date {
  float: none;
  clear: left;
/*  line-height: 0.7;*/
  padding: 1.2em 0em 0em;
}

.exact_date {float: left;}

/*.last_date {float: left;}*/


/*beschrijvend tekstje over het event*/

.event_description {
  font-size: 0.8em;
  padding: 1.2em 0em;
  clear: both;
}


/*---------------- 3. alles voor accordionmenu, via w3schools ----------*/

.content_accordion {
  margin-bottom: 42px;
}


/* Style the buttons that are used to open and close the accordion panel */

button{font-family: "Open Sans";}

button.accordion {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-weight: 300;
}

.accordion_arrow {
  position: absolute;
  right: 8px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

button.accordion.active,
button.accordion:hover {
  background-color: skyblue;
}


/* Style inhoud uitvouwmenu */

div.panel {
  padding: 0 18px;
  background-color: white;
  /*  display: none;*/
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 0.8em;
}


/*pijltjes*/

button.accordion:after {
  content: '\25BC';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 8px;
}

button.accordion.active:after {
  content: "\25B2";
  /* Unicode character for "minus" sign (-) */
}