.jaqueslogo {
    background-color: aqua;
    width: 200px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px
}

.topofnav h1 {
    text-align: center;
    margin-top: 10px;
    color: white;
    padding-bottom: 20px;
    font-size: 2em;
}

.topofnav {
    background-color: dodgerblue;
    padding-top: 10px;
    padding-bottom: 10px;
}


.topofnav nav ul li {
    margin-top: 10px;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px white;
    display: inline-block;
    color: white;
}

.nav_jobs {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.nav_tools{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

button {
    width: 30%;
    background-color: dodgerblue;
    border-style: hidden;
    color: white;
    font-size: 1.2em;
    font-family: "Open Sans", Verdana, Tahoma, sans-serif;
    font-weight: 300;
    border: 1px solid white;
}

button:hover {
    background-color: white;
    color: dodgerblue;
}

#jobs {
    margin-left: 4%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#tools {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#map {
    height: 100%;
    width: 100%;
    background-color: aqua;
}

body {
    overflow-y: hidden;
}
