.jaqueslogo {
    background-color: aqua;
    width: 170px;
    height: 70px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.topofnav h1 {
    text-align: center;
    margin-top: 10px;
    color: white;
    padding-bottom: 10px;
    font-size: 2em;
}

.topofnav {
    background-color: dodgerblue;
    padding-top: 10px;
}

.topofnav nav ul li {
    margin-top: 10px;
    display: inline-block;
}