body{margin:0;
    padding:0;
}

.hoofddingProfiel{
    color:white;
    background-color:blue;
    text-align: center;
}

.profielFoto img{
    position: relative;
    width:100%;
}

#naam{position: absolute;
    width:100%;
    padding-top:50%;
    top:0;
    margin:0;
    color:white;
    text-align: center;
}


.linksProfiel ul{
    padding:0;
    list-style: none;
}

.linksProfiel ul li{
    text-align: center;
}

hr{
    width:70%;
}



