body{margin:0;
}

.hoofddingProfiel{
    color:white;
    background-color:blue;
    text-align: center;
}

.profielFoto img{
    width:100%;
}

.linksProfiel ul{
    padding:0;
    list-style: none;
}

.linksProfiel ul li{
    text-align: center;
}

#naam{
    margin:0;
    color:grey;
    text-align: center;
}