body{margin:0;
}

.hoofddingLogin{
    color:white;
    text-align: center;
    
}

.loginGegevens{
    margin-top:5%;
    text-align: center;
}

.loginGegevens p{
    margin-top:5%;
}

.loginGegevens input{
    width:80%;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom-color: black;
    border-bottom-width: thin;
    height:5px;
}

#foto{
    width:100%;
}

.loginHolder{
    text-align: center;
}

#logIn{
    padding-left:5%;
    padding-right:5%;
    border:1px;
    border-color: black;
    background-color:dodgerblue;
    color:white;

}

#fouteLoginGegeven{
    color:red;
    font-size: 60%;
    text-align: center;
}