input {
  width: 90%;
  margin: 0em 1em;
  border: solid rgba(220, 220, 220, 1) 0.6px;
  padding: 0.5em;
  float: left;
}

.imgInsSlider {
  width: 250px;
  display: inline-block;
  float: left;
  background-color: rgba(97, 88, 186, 1);
  margin-right: 5px;
}

.SliderImg h3 {
  width: 215px;
  top: -10;
}

.SliderImg img {
  width: 250px;
  height: 150px
}

div.SliderImg {
  display: inline-flex;
  width: calc(250 * 6)px;
}

section.Slider {
  width: 100%;
  overflow-x: scroll;
}

section li {
  position: relative;
  padding: 1em 1em 1em 2em;
  border: solid rgba(220, 220, 220, 1) 0.6px;
}

section li:first-child {
  border-top: solid rgba(22O, 22O, 22O, 1) 0.2px;
}

section ul {
  margin: 0em 2em;
  overflow: hidden;
}

side {
  z-index: 1;
  position: absolute;
  display: none;
  transform-origin: top;
  transition: display 01s ease;
  overflow: auto;
  background-color: white;
  right: 0;
}

side ul {
  margin: 0;
}

side li {
  position: relative;
  padding: 1em 1em 1em 2em;
  border: solid rgba(220, 220, 220, 1) 0.6px;
}

side li:first-child {
  border-top: solid rgba(22O, 22O, 22O, 1) 0.2px;
}

side span.before {}

span.before {
  position: absolute;
  width: 0%;
  left: 0;
  top: 0;
  padding: 0.85em 0.3em;
  background-color: rgba(97, 88, 186, 1);
  z-index: -7;
  height: 45%;
  transform-origin: left;
  transition: width 0.25s ease;
}

side button {
  width: 100%;
  background-color: #2980b9;
  border: none;
  color: white;
  margin: 0em 0em;
  left: 0;
}

side li:last-child {
  padding: 0;
}

img.Search {
  width: 55%;
  float: left;
  margin: 0.5em 1em 0.5em 0;
}

h3.Search {
  padding-left: 1em;
  margin-top: 0.5em;
}

.Company {
  overflow: auto;
}

#oneven {
  background-color: lightgrey;
}

button {
  width: 43%;
  background-color: #2980b9;
  border: none;
  color: white;
  padding: 1.5em 0em;
  margin: 2em 30% 5em;
}

header {
  height: auto;
  padding: 4% 0% 4% 0%;
  color: white;
}

header img {
  height: 0;
  color: white;
  float: left;
}

header {
  width: 100%;
  height: 10%;
  overflow: auto;
}

side.ingeklapt {
  display: none;
}

side.uitgeklapt {
  display: block;
}

main {
  z-index: 0;
}

.company p {
  float: left;
}

#foodDrinks span.before,
div#foodDrinks {
  background-color: #1abc9c;
}

#Beauty span.before,
div#Beauty {
  background-color: #955ba4;
}

#socialInitiatives span.before,
div#socialInitiatives {
  background-color: #e57e26;
}

#clothingAccessories span.before,
div#clothingAccessories {
  background-color: #eec31a;
}

#DIY span.before,
div#DIY {
  background-color: #e64e3c;
}

#Hobbies span.before,
div#Hobbies {
  background-color: #fae79f;
}