input {
  width: 90%;
  margin: 1em 1em;
  border: solid rgba(220, 220, 220, 1) 0.6px;
  padding: 0.5em;
}

.imgInsSlider {
  width: 250px;
  display: inline-block;
  float: left;
  background-color: rgba(106, 162, 228, 1);
  margin-right: 5px;
}

.SliderImg h3 {
  background-color: rgba(106, 162, 228, 1);
  padding: 0.4em 0em;
  width: 250px;
  top: -10;
}

.SliderImg img {
  width: 250px;
  height: 150px
}

div.SliderImg {
  display: inline-flex;
  width: calc(250 * 6)px;
}

section.Slider {
  width: 100%;
  overflow-x: scroll;
}

section li {
  position: relative;
  padding: 1em 1em 1em 2em;
  border-bottom: solid rgba(220, 220, 220, 1) 0.2px;
  border-right: solid rgba(220, 220, 220, 1) 0.2px;
}

section li:first-child {
  border-top: solid rgba(220, 220, 220, 1) 0.2px;
}

section ul {
  margin-top: 2em;
  margin: 2em 2em;
  overflow: hidden;
}

span.before {
  position: absolute;
  width: 0%;
  left: 0;
  top: 0;
  padding: 0.85em 0.3em;
  background-color: aqua;
  z-index: -7;
  height: 45%;
  transform-origin: left;
  transition: width 0.25s ease;
}

span:hover {
  transform-origin: left;
  transition: width 0.25s ease;
  width: 99%;
}