body {
    font-family: sans-serif;
    overflow-x: hidden;
}

.nav {
    background-color: lightgreen;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.nav ul {
    padding: 0;
    list-style: none;
}

.nav ul li {
    margin: 0% 10% 0% 10%;
    display: inline-block;
}

.nav ul li img {
    width: 40px;
    height: 40px;
}